.post-backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.horizontal-view {
  display: flex;
  flex-direction: row;
  width: 95vw;
  max-width: 920px;
  min-height: 500px;
  margin: auto;
  margin-top: 52px;
  border: 1px solid var(--border);
  margin-bottom: 100px;
}

.horizontal-view.modal-view {
  margin-top: 0;
  z-index: 99;
  position: fixed;
  height: 90vh;
  max-width: 1500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-view .post-image,
.horizontal-view .side-bar {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.horizontal-view .post-image {
  width: 70%;
  background-color: var(--off-background);
}

.horizontal-view .post-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.horizontal-view .side-bar {
  flex-grow: 1;
  width: 30%;
  background-color: var(--background);
}

.horizontal-view .side-bar .comments {
  padding: 0;
  margin: 8px 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.horizontal-view .interact {
  margin-bottom: 14px;
  padding-left: 16px;
}

.post-error {
  text-align: center;
}
