.sign-in-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in {
  width: 350px;
  height: max-content;
  background-color: var(--background);
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 1px;
}

.sign-in h1 {
  margin: 22px auto 12px;
  width: fit-content;
  height: 51px;
  font-size: 42px;
}

.sign-in form input {
  font-size: 14px;
  padding: 9px 0 7px 8px;
  background-color: var(--off-background);
  border: 1px solid var(--border);
  border-radius: 3px;
  margin: 0 40px 6px;
}

.sign-in .log-in-btn {
  height: 30px;
  margin: 8px 40px;
  border: 1px solid transparent;
  color: var(--background);
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--button);
  cursor: pointer;
}

.sign-in .log-in-btn:disabled {
  cursor: initial;
  background-color: var(--button-disabled);
}

.sign-in .sign-in-method {
  display: flex;
  flex-direction: column;
  height: 213px;
  margin-top: 24px;
}

.sign-in .or {
  display: flex;
  margin: 10px 40px 18px;
}

.sign-in .or p {
  font-size: 13px;
  font-weight: 600;
  margin: 0 18px;
  color: var(--dimmed-text);
}

.sign-in .or-line {
  position: relative;
  top: 0.45em;
  flex-grow: 1;
  height: 1px;
  background-color: var(--border);
}

.sign-in .guest-btn {
  margin: 8px 40px;
  border: 0;
  color: var(--login-help-text);
  padding: 0;
  background: 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.sign-in .guest-btn svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

.sign-in .sign-in-error {
  text-align: center;
  color: var(--error);
  margin: 0 40px;
  font-size: 14px;
  padding: 8px 0;
}

.sign-in .reset-password {
  text-align: center;
  display: block;
  color: var(--login-help-text);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  margin-bottom: 18px;
  text-decoration: none;
}

.sign-in-container .create-account {
  text-align: center;
  font-size: 14px;
  color: var(--text);
  width: 350px;
  background-color: var(--background);
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 1px;
}

.sign-in-container .create-account a {
  color: var(--button);
  text-decoration: none;
  font-weight: 600;
}
