.top button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.top .follow {
  padding: 0 24px;
  color: var(--background);
  background-color: var(--button);
  border: 1px solid var(--button);
  border-radius: 3px;
  line-height: 26px;
}

.top .follow svg {
  fill: var(--background);
  margin-left: 0;
}

.top .unfollow {
  padding: 0px 16.5px;
  color: var(--error);
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 3px;
  line-height: 26px;
}

.top .unfollow svg {
  fill: var(--error);
  margin-left: 0;
}

.top .requested svg {
  fill: var(--text);
}

.top .edit,
.top .requested {
  padding: 5px 9px;
  color: var(--text);
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 4px;
  line-height: 18px;
}
