.profile {
  padding: 30px 20px 0;
  max-width: 935px;
  margin: auto;
}

.profile-header {
  display: flex;
  margin: 0 auto 30px;
}

.profile-header .left {
  flex-grow: 1;
  margin-right: 30px;
  flex-basis: 0;
}

.profile-header .left img {
  display: block;
  margin: auto;
}

.profile-header .right {
  flex-grow: 2;
  flex-basis: 30px;
  /* margin: auto; */
}

.profile-header .right .top {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 8px 0;
}

.profile-header .right .top h3 {
  display: inline-block;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}

.profile-header .right .top button {
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.profile-header .right .top .follow {
  padding: 0 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 149, 246);
  border: 1px solid rgb(0, 149, 246);
  border-radius: 3px;
  line-height: 26px;
}

.profile-header .right .top .unfollow {
  padding: 0px 16.5px;
  color: rgb(237, 73, 86);
  background-color: transparent;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  line-height: 26px;
}

.profile-header .right .top .edit {
  padding: 5px 9px;
  color: rgb(38, 38, 38);
  background-color: transparent;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  line-height: 18px;
}

.profile-header .right .stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.profile-header .right .stats li {
  display: inline;
  font-size: 16px;
  margin-right: 40px;
  margin-left: 0;
}

.profile-header .right .stats li span {
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.profile-header .right .bio {
  display: inline;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: rgb(38, 38, 38);
  font-size: 16px;
}
