.user-dropdown-container {
  position: relative;
  float: right;
  user-select: none;
}

.user-dropdown-container .profile-border {
  padding: 0;
  margin: 0 10px;
  display: inline-flex;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  background-color: var(--off-background);
  border-radius: 50%;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

.user-dropdown-container .profile-picture {
  margin: 0;
  fill: var(--svg);
  width: 26px;
  height: 26px;
  cursor: pointer;
  user-select: none;
}

.user-dropdown {
  position: absolute;
  display: block;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--shadow);
  width: 200px;
  z-index: 1;
  right: 0;
}

.user-dropdown button,
.user-dropdown a {
  color: var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 16px;
  text-align: left;
}

.user-dropdown button {
  width: 100%;
}

.user-dropdown a {
  text-decoration: none;
}

.user-dropdown .user-dropdown-svg {
  fill: var(--svg);
  margin-right: 10px;
  cursor: pointer;
  pointer-events: none;
}

.user-dropdown button:hover,
.user-dropdown a:hover {
  background-color: var(--off-background);
  border-radius: 6px;
}

.user-dropdown .sign-out {
  border-top: 1px solid var(--border);
}

.user-dropdown .sign-out button {
  height: 36px;
}

@media (max-width: 735px) {
  .user-dropdown {
    bottom: 45px;
  }
}
