.user-drop-down-container {
  position: absolute;
}

.user-drop-down {
  position: relative;
  top: 99px;
  left: 13px;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--shadow);
  width: 200px;
}

.user-drop-down button {
  color: var(--text);
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
}

.user-drop-down button:hover {
  background-color: var(--off-background);
}

.user-drop-down .sign-out {
  border-top: 1px solid var(--border);
}
