.user-dropdown-container {
  position: relative;
  float: right;
}

.user-dropdown-container .profile-border {
  padding: 0;
  margin: 0 10px;
  display: inline-flex;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  background-color: var(--off-background);
  border-radius: 50%;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

.user-dropdown-container .profile-picture {
  margin: 0;
  fill: var(--svg);
  width: 26px;
  height: 26px;
  cursor: pointer;
}

#user-dropdown {
  position: absolute;
  display: none;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--shadow);
  width: 200px;
  z-index: 1;
  right: 0;
}

#user-dropdown button {
  color: var(--text);
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
}

#user-dropdown.displayed {
  display: block;
}

#user-dropdown button:hover {
  background-color: var(--off-background);
}
