.caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 4px 0;
}

.caption img {
  margin-right: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.caption .post-owner {
  margin-right: 4px;
  color: rgb(38, 38, 38);
  font-weight: 600;
}

.caption a {
  text-decoration: inherit;
}

.caption .post-caption {
  word-break: break-all;
  word-wrap: break-word;
}
