.post-backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.solo-view {
  display: flex;
  flex-direction: row;
  width: 95vw;
  max-width: 920px;
  min-height: 500px;
  margin: auto;
  margin-top: 52px;
  border: 1px solid rgb(219, 219, 219);
  margin-bottom: 100px;
}

.solo-view.modal-view {
  margin-top: 0;
  z-index: 99;
  position: fixed;
  height: 90vh;
  max-width: 1500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.solo-view .post-image,
.solo-view .side-bar {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.solo-view .post-image {
  width: 66%;
  background-color: rgb(250, 250, 250);
}

.solo-view .post-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.solo-view .side-bar {
  flex-grow: 1;
  width: auto;
  background-color: rgb(255, 255, 255);
}

.solo-view .side-bar .poster {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.solo-view .side-bar .poster img {
  width: 28px;
}

.solo-view .side-bar .poster span {
  color: rgb(38, 38, 38);
  font-weight: 600;
}

.solo-view .side-bar .poster a {
  text-decoration: inherit;
}

.solo-view .side-bar .poster a:first-of-type {
  margin: 0 15px 0 16px;
}

.solo-view .side-bar .comments {
  padding: 0;
  margin: 0 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.solo-view .interact {
  padding-left: 16px;
}

.solo-view .interact button {
  background: 0 0;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.solo-view .interact button img {
  width: 28px;
  padding-right: 8px;
}

.solo-view .interact .likes p {
  margin: 0;
  padding: 8px 0;
}

.solo-view .interact .date time {
  font-size: 12px;
  color: rgb(142, 142, 142);
}

.solo-view .comment-box {
  position: relative;
}

.post-error {
  text-align: center;
}
