.profile-tabs {
  border-top: 1px solid var(--border);
  color: var(--dimmed-text);
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.profile-tabs p {
  color: var(--text);
  border-top: 1px solid var(--text);
  font-size: 13px;
  margin-top: -1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 52px;
  display: flex;
  align-items: center;
}
