.post-dropdown-container {
  position: relative;
  margin-left: auto;
  float: right;
}

.post-dropdown-container .post-dots {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.post-dropdown {
  position: absolute;
  display: block;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--shadow);
  width: 200px;
  z-index: 1;
  right: 0;
}

.post-dropdown a {
  color: var(--text);
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
}

.post-dropdown a:hover {
  background-color: var(--off-background);
  border-radius: 6px;
}

.post-dropdown-container .dots {
  cursor: pointer;
  padding-right: 15px;
  fill: var(--text);
  margin-left: auto;
  pointer-events: none;
}
