.favorite-dropdown-container {
  position: relative;
  float: right;
}

.favorite-dropdown-container #favorite-dropdown {
  position: absolute;
  display: none;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--shadow);
  width: 200px;
  z-index: 1;
  right: 0;
}

.favorite-dropdown-container #favorite-dropdown button {
  color: var(--text);
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
}

.favorite-dropdown-container #favorite-dropdown button:hover {
  background-color: var(--off-background);
}

#favorite-dropdown.displayed {
  display: block;
}
