.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 53px);
}

.dropzone svg {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.dropzone h3 {
  margin: 0;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: 300;
  color: initial;
}

.dropzone .drop-rejected {
  margin: 0;
  color: var(--dimmed-text);
}

.dropzone .select-from-computer {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--background);
  background-color: var(--button);
  padding: 5px 9px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
