.owner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 14px 4px 14px 16px;
  background-color: var(--background);
}

.owner img {
  margin-right: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.owner span {
  margin-right: 4px;
  color: var(--text);
  font-weight: 600;
}

.owner a {
  display: flex;
  align-items: center;
  text-decoration: inherit;
}
