.center-header {
  display: flex;
  justify-content: center;
  height: 54px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}

.header-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 54px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 55px;
  max-width: 975px;
  top: 0;
  padding: 0 20px;
  z-index: 10;
  align-items: center;
}

.header-container .title {
  cursor: default;
  flex: 1;
  color: initial;
}

.header-container .title .ink {
  margin: 0;
  font-size: 42px;
  text-decoration: none;
}

.header-container .nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container .nav .header-svg {
  fill: var(--svg);
  margin: 0 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.header-container .nav .add {
  border: none;
  background-color: transparent;
  padding: inherit;
  margin: 0;
}

@media (max-width: 735px) {
  .header-container {
    padding: 0;
    justify-content: initial;
  }

  .header-container .title {
    max-width: max-content;
  }

  .header-container .title .ink {
    padding-left: 20px;
  }

  .header-container .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: var(--background);
    border-top: 1px solid var(--border);
    padding: 3px 0;
  }
}
