.center-header {
  display: flex;
  justify-content: center;
  height: 54px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}

.header-white-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 54px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 55px;
  max-width: 975px;
  top: 0;
  padding: 0 20px;
  z-index: 10;
  align-items: center;
}

.header-container .title {
  cursor: default;
  flex: 1;
  color: initial;
  text-decoration: none;
}

.header-container p {
  margin: 0;
  font-size: 42px;
}

.header-container input {
  background-color: var(--off-background);
  border: 1px solid var(--border);
  cursor: text;
  width: 199px;
  height: 12px;
  padding: 7px;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.header-container input::placeholder {
  color: rgb(142, 142, 142);
}

.header-container .nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container .nav svg,
.header-container .nav .profile-picture {
  fill: var(--svg);
  margin: 0 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.header-container .nav .add {
  border: none;
  background-color: transparent;
  padding: inherit;
  margin: 0;
}

.header-container .nav .profile-border {
  padding: 0;
  margin: 0 10px;
  display: inline-flex;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  background-color: var(--off-background);
  border-radius: 50%;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

.header-container .nav .profile-picture {
  margin: 0;
}
