.dropzone-container {
  background-color: var(--backdrop);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.modal {
  position: relative;
  max-height: 781px;
  max-width: 781px;
  width: 80vw;
  height: 70vh;
  background-color: var(--background);
  border-radius: 12px;
}

.modal .top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
  z-index: 1;
}

.modal h2 {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  text-align: center;
  font-weight: 300;
  background-color: var(--background);
  color: var(--text);
  border-radius: 12px;
}

.modal .close {
  color: var(--text);
  position: absolute;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 16px;
  padding: 0;
}

@media (max-width: 735px) {
  .modal {
    padding-bottom: 8px;
    height: max-content;
  }
}
