.profile-header {
  display: flex;
  margin: 0 auto 30px;
}

.profile-header .left {
  flex-grow: 1;
  margin-right: 30px;
  flex-basis: 0;
}

.profile-header .left img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-header .right {
  flex-grow: 2;
  flex-basis: 30px;
}

.profile-header .right .top {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 8px 0;
}

.profile-header .right .top h3 {
  display: inline-block;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}

.profile-header .right .stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.profile-header .right .stats li {
  display: inline;
  font-size: 16px;
  margin-right: 45px;
  margin-left: 0;
}

.profile-header .right .stats li span {
  font-weight: 600;
  color: rgb(38, 38, 38);
}

.profile-header .right .info h4 {
  margin: 8px 0;
  padding: 0;
}

.profile-header .right .info p {
  white-space: pre;
  margin: 0;
}
