.commenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 12px 0; */
  margin-bottom: 4px;
  /* height: max-content; */
  /* height: 18px; */
}

.commenter .comment {
  color: var(--text);
  margin: 0;
  line-height: 18px;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

.commenter img {
  margin-right: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.commenter .by {
  margin-right: 4px;
  color: var(--text);
  font-weight: 600;
}

.commenter a {
  text-decoration: inherit;
}
