.messages {
  display: flex;
  flex-direction: column;
}

.messages-no-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px;
  color: var(--text);
}

.messages-no-user svg {
  fill: var(--text);
  height: 38px;
  width: 38px;
}

.messages p,
.messages a {
  text-align: center;
  margin: 8px;
}

.messages a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.messages a img {
  margin-right: 15px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.messages a span {
  margin-right: 4px;
  color: var(--text);
  font-weight: 600;
  font-size: 16px;
}

.messages .blocked-messages {
  color: var(--text);
  font-style: italic;
  justify-content: end;
}

.prev-messages {
  padding: 0;
  margin: 8px 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.prev-messages .blue {
  align-self: flex-end;
  padding: 8px;
  background-color: var(--chat-blue);
  border-radius: 15px;
  color: white;
}

.prev-messages .grey {
  align-self: flex-start;
  padding: 8px;
  background-color: var(--chat-grey);
  border-radius: 15px;
  color: var(--text);
}

.prev-messages .spinner {
  fill: var(--text);
  align-self: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
