.register-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: auto;
}

.register {
  height: max-content;
  background-color: var(--background);
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 1px;
  width: 100%;
}

.register h1 {
  margin: 22px auto 12px;
  width: fit-content;
  height: 51px;
  font-size: 42px;
}

.register .pitch {
  color: var(--dimmed-text);
  font-size: 17px;
  font-weight: 600;
  margin: 0 40px 10px;
  text-align: center;
}

.register form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.register form input {
  font-size: 14px;
  padding: 9px 0 7px 8px;
  background-color: var(--off-background);
  border: 1px solid var(--border);
  border-radius: 3px;
  margin: 0 40px 6px;
  color: var(--text);
}

.register .register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  margin: 8px 40px;
  border: 1px solid transparent;
  color: var(--background);
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--button);
}

.register .register-btn:disabled {
  cursor: initial;
  background-color: var(--button-disabled);
}

.register .or {
  display: flex;
  margin: 10px 40px 18px;
}

.register .or p {
  font-size: 13px;
  font-weight: 600;
  margin: 0 18px;
  color: var(--dimmed-text);
}

.register .or-line {
  position: relative;
  top: 0.45em;
  flex-grow: 1;
  height: 1px;
  background-color: var(--border);
}

.register .guest-btn {
  margin: 8px 40px;
  border: 0;
  color: var(--login-help-text);
  padding: 0;
  background: 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.register .guest-btn svg {
  fill: var(--svg);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

.register .register-error {
  text-align: center;
  color: var(--error);
  margin: 0 40px;
  font-size: 14px;
  padding: 8px 0;
}

.register-container .have-account {
  text-align: center;
  font-size: 14px;
  color: var(--text);
  background-color: var(--background);
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 1px;
  width: 100%;
}

.register-container .have-account a {
  color: var(--button);
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 500px) {
  .register-container {
    height: 90vh;
    width: 90vw;
  }
}
