.search {
  position: relative;
  width: max-content;
}

.search-box {
  box-sizing: border-box;
  background-color: var(--off-background);
  border: 1px solid var(--border);
  color: var(--text);
  cursor: text;
  width: 199px;
  padding: 7px;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
}

.search-chat {
  margin: initial;
}

.search .search-results {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.search .search-results.displayed {
  display: flex;
}

.search .search-results .search-item {
  border: 1px solid var(--border);
  background-color: var(--background);
  min-width: 100%;
  max-width: max-content;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.search .search-results button {
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}

.search .search-results .search-item:hover {
  background-color: var(--off-background);
}

.search .search-results .search-item img {
  margin-right: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.search .search-results .search-item span {
  margin-right: 4px;
  color: var(--text);
  font-weight: 600;
}

.search-box::placeholder {
  color: var(--text);
}

@media (max-width: 735px) {
  .search {
    margin: auto;
  }

  .search-chat {
    margin: initial;
  }
}
