.forgot-password-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-password {
  width: 350px;
  height: max-content;
  background-color: var(--background);
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 1px;
}

.forgot-password form,
.forgot-password .email-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password h1 {
  margin: 22px auto 12px;
  width: fit-content;
  height: 51px;
  font-size: 42px;
}

.forgot-password form input {
  font-size: 14px;
  padding: 9px 0 7px 8px;
  background-color: var(--off-background);
  border: 1px solid var(--border);
  border-radius: 3px;
  margin: 0 40px 6px;
  color: var(--text);
}

.forgot-password .reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 8px 40px;
  border: 1px solid transparent;
  color: var(--background);
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--button);
  cursor: pointer;
}

.forgot-password .reset-btn svg {
  margin: 0;
}

.forgot-password .reset-btn:disabled {
  cursor: initial;
  background-color: var(--button-disabled);
}

.forgot-password .reset-error {
  text-align: center;
  color: var(--error);
  margin: 0 40px;
  font-size: 14px;
  padding: 8px 0;
}

.forgot-password .email-sent {
  color: var(--text);
}

.forgot-password .email-sent a {
  color: var(--button);
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 10px;
}

.forgot-password-container .other-action {
  text-align: center;
  font-size: 14px;
  color: var(--text);
  width: 350px;
  background-color: var(--background);
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid var(--border);
  border-radius: 1px;
  display: flex;
  justify-content: space-evenly;
}

.forgot-password-container .other-action a {
  color: var(--button);
  text-decoration: none;
  font-weight: 600;
}
