.comment-dropdown-container {
  position: relative;
  margin-left: auto;
}

.comment-dropdown {
  position: absolute;
  display: block;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0 0 4px 1px var(--shadow);
  width: 200px;
  z-index: 1;
  right: 0;
}

.comment-dropdown button {
  color: var(--text);
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.comment-dropdown button:hover {
  background-color: var(--off-background);
  border-radius: 6px;
}

.comment-dropdown-container .comment-dots {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-dropdown-container .dots {
  width: 22px;
  height: 22px;
  cursor: pointer;
  fill: var(--text);
  margin-left: auto;
  pointer-events: none;
}
