@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.App {
  background-color: var(--off-background);
}

.ink {
  color: var(--text);
  font-family: 'Grand Hotel', cursive;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
