@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.App {
  background-color: var(--off-background);
}

.spinner {
  width: 20px;
  height: 20px;
  fill: var(--background);
  margin-left: 10px;
  animation: spinner infinite 2s linear;
}

.ink {
  color: var(--text);
  font-family: 'Grand Hotel', cursive;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
