:root {
  --background: rgb(255, 255, 255);
  --off-background: rgb(250, 250, 250);
  --border: rgb(219, 219, 219);

  --text: rgb(38, 38, 38);
  --login-help-text: rgb(56, 81, 133);
  --dimmed-text: rgb(142, 142, 142);

  --button: rgb(0, 149, 246);
  --button-disabled: rgba(0, 149, 246, 0.3);

  --svg: rgb(38, 38, 38);

  --shadow: rgba(0, 0, 0, 0.0975);
  --backdrop: rgba(0, 0, 0, 0.65);

  --error: rgb(237, 73, 86);
  --green: rgb(0, 144, 0);
}

[data-theme='dark'] {
  --background: rgb(22, 22, 22);
  --off-background: rgb(18, 18, 18);

  --border: rgb(82, 80, 79);

  --text: rgb(255, 255, 255);
  --login-help-text: rgb(0, 149, 246);
  --dimmed-text: rgb(119, 119, 119);

  --button: rgb(60, 178, 255);
  --button-disabled: rgba(255, 255, 255, 0.46);

  --svg: rgb(255, 255, 255);

  --shadow: rgba(255, 255, 255, 0.05);
  --backdrop: rgba(0, 0, 0, 0.65);

  --error: rgb(236, 99, 99);
  --green: rgb(50, 222, 132);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
