.profile-settings {
  box-sizing: border-box;
  width: 97vw;
  max-width: 920px;
  margin: auto;
  margin-top: 30px;
  padding: 12px;
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-settings .allow-messages {
  padding: 16px 0;
}

.profile-settings .allow-messages span {
  color: var(--text);
  padding-right: 8px;
}

.profile-settings select {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--button);
  padding: 6px;
  width: max-content;
  outline: none;
}

.profile-settings button {
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.profile-settings .delete-account {
  color: var(--error);
}

.profile-settings section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 4px 14px 16px;
}

.profile-settings section img {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-settings section span {
  margin-right: 4px;
  color: var(--text);
  font-size: 26px;
}

.profile-settings form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-settings form .input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.profile-settings form .input p {
  color: var(--text);
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 10px 5px;
}

.profile-settings input,
.profile-settings textarea {
  color: var(--text);
  background-color: var(--background);
  font-size: 16px;
  max-width: 355px;
  width: 50vw;
  border: 1px solid var(--border);
  padding: 6px 10px;
  border-radius: 3px;
}

.profile-settings textarea {
  resize: vertical;
  vertical-align: middle;
}

.profile-settings .save {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 8px 0;
  border: 1px solid transparent;
  color: var(--background);
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--button);
  cursor: pointer;
}

.profile-settings .save:disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled);
}

.profile-settings .error {
  margin: 0;
  color: var(--error);
}

.profile-settings input[type='checkbox'] {
  display: none;
}

.profile-settings .private-account {
  cursor: pointer;
  color: var(--text);
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  margin: 16px 0;
  margin-bottom: 0;
}

.profile-settings .private-account span:first-of-type {
  padding-right: 8px;
}

.profile-settings .private-account span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: var(--background);
  border: 1px solid var(--button);
  border-radius: 3px;
}

.checkmark:after {
  content: '';
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  width: 6px;
  height: 14px;
  border: solid var(--text);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.profile-settings .follow-requests {
  padding-top: 5px;
  color: var(--button);
  text-decoration: none;
}

.profile-settings .profile-updated {
  margin: 0;
  color: var(--green);
}
