.set-caption-bar {
  height: 52px;
}

.set-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: calc(100% - 53px);
}

.set-caption .image,
.set-caption .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.set-caption .image {
  width: 100%;
  background-color: var(--off-background);
}

.set-caption .image img {
  max-height: 100%;
  max-width: calc(100% - 32px);
  margin: auto;
}

.set-caption .form {
  padding: 0 16px;
  border-left: 1px solid var(--border);
}

.set-caption .form .poster {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text);
}

.set-caption .form .poster img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding-right: 5px;
  margin: 0;
}

.set-caption .form textarea {
  border: none;
  resize: none;
  overflow: auto;
  font-size: 16px;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  width: 275px;
  height: 194px;
}

.set-caption .form textarea:focus {
  outline: none;
}

.set-caption .form label {
  color: var(--text);
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  margin: 16px 0;
  cursor: pointer;
}

.set-caption input[type='checkbox'] {
  display: none;
}

.set-caption .form label span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-caption .form label .checkmark {
  height: 20px;
  width: 20px;
  background-color: var(--background);
  border: 1px solid var(--button);
  border-radius: 3px;
  position: absolute;
  right: 0;
}

.set-caption .form label .checkmark:after {
  content: '';
  display: none;
}

.set-caption .form input:checked ~ .checkmark:after {
  display: block;
}

.set-caption .form label .checkmark:after {
  width: 6px;
  height: 14px;
  border: solid var(--text);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.set-caption .form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 24px;
  color: var(--background);
  background-color: var(--button);
  border: 1px solid var(--button);
  border-radius: 3px;
  line-height: 26px;
  cursor: pointer;
}

@media (max-width: 735px) {
  .set-caption {
    flex-direction: column;
  }

  .set-caption .form {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 16px;
  }

  .set-caption .image {
    padding: 6px 0;
  }

  .set-caption .image img {
    max-width: 100%;
    max-height: 100px;
  }

  .set-caption .form textarea {
    width: 100%;
    height: 100px;
  }
}
