.set-caption-bar {
  height: 52px;
}

.set-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: calc(100% - 53px);
}

.image,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border-left: 1px solid var(--border);
  height: 100%;
}

.set-caption .image {
  border-bottom-left-radius: 12px;
  width: 100%;
  background-color: var(--off-background);
}

.set-caption .image img {
  max-height: 100%;
  max-width: calc(100% - 32px);
  margin: auto;
}

.set-caption .form {
  padding: 0 16px;
}

.set-caption .form .poster {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text);
}

.set-caption .form .poster img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding-right: 5px;
  margin: 0;
}

.set-caption .form textarea {
  border: none;
  resize: none;
  overflow: auto;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
}

.set-caption .form textarea:focus {
  outline: none;
}

.set-caption .form label {
  color: var(--text);
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  margin: 16px 0;
}

.set-caption .form label input {
  cursor: pointer;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid var(--button);
  position: absolute;
  right: 0;
}

.set-caption .form label input:checked {
  background: var(--button);
}

.set-caption .form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 24px;
  color: var(--background);
  background-color: var(--button);
  border: 1px solid var(--button);
  border-radius: 3px;
  line-height: 26px;
  cursor: pointer;
}
